scikit_build
pytest
pyfakefs
cerberus
plumbum
validators
python-debian
configparser
requests
raven
GitPython==2.1.10
gitdb2==2.0.6
pygments
retrying
lmdb
#rpm Conflicts with python3-rpm
pyicu
pebble
pyyaml
filesplit==3.0.2
pulpcore-client==3.14.3
boto3==1.18.7
pydantic==1.8.1
azure-storage-blob==12.8.1